* {
  padding: 0;
  margin: 0;
}

body {
  margin-top: 20px;
  font-family: arial;
}

#container {
  width: 490px;
  height: 490px;
  border: 10px solid #bdaca1;
  box-sizing: border-box;
  margin: 0 auto;
  background: #cec0b6;
  position: relative;
}

.piece {
  position: absolute;
  width: 110px;
  height: 110px;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  line-height: 110px;
}

.v-border {
  height: 480px;
  width: 10px;
  margin-left: 110px;
  background-color: #bdaca1;
  float: left;
}

.h-border {
  height: 10px;
  width: 480px;
  margin-top: 110px;
  background-color: #bdaca1;
}

@keyframes create {
  from {
    width: 0;
    height: 0;
    margin: 55px 0 0 55px;
    font-size: 0;
  }
  to {
    width: 110px;
    height: 110px;
    margin: 0;
  }
}

.new-piece {
  animation-name: create;
  animation-duration: 250ms;
}
